<script setup>
	
	// Import Swiper Vue.js components
	import { Swiper, SwiperSlide } from 'swiper/vue';
	import SwiperCore, {Pagination, Navigation, Autoplay} from 'swiper';
	// Import Swiper styles
	import 'swiper/css';
	import "swiper/css/pagination";
	import "swiper/css/navigation";
	import "swiper/css/autoplay";
	import { ref, onMounted, watchEffect } from 'vue';
	import Typewriter from 'typewriter-effect/dist/core';

	
	// install Swiper modules
	SwiperCore.use([Pagination, Navigation, Autoplay]);
	let slideShow = ref(2);
	function slider(){
		if(window.innerWidth < 640){
			slideShow.value = 1;
		} else{
			slideShow.value = 2;
		}
	}
	onMounted(() => {
		slider();
	});
	watchEffect(() =>{
		window.addEventListener('resize', slider);
	});

	const onSwiper = (swiper) => {
		console.log(swiper);
	};
	const onSlideChange = () => {
		console.log('slide change');
	};
</script>

<template>
  <section id="top" class="bg-top">
    <div class="relative antialiased container mx-auto lg:px-5 lg:py-20 py-12">
      <div class="w-[200px] h-[200px] absolute top-2 lg:left-7 lg:top-10 z-10 bg-gradient-to-b from-circle/30 rounded-full"></div>
      <div class="flex flex-col lg:flex-row gap-4 justify-between z-20 px-5">
        <div class="lg:w-1/2 w-full flex flex-col justify-start py-5">
          <p class="text-main font-bold lg:text-6xl text-5xl py-3">Build better</p>
		  <p class="text-main font-bold lg:text-6xl text-5xl py-3">project & faster </p>
          <p class="text-main text-base mt-4">We are Software Development Agency <br class="lg:block hidden"> Specialized in Website and Mobile App Based in <br class="lg:block hidden"> Bali, Indonesia</p>
		  <a class="flex text-white font-bold px-4 w-fit rounded-md shadow-md shadow-main bg-main py-3 mt-4 hover:bg-blue-700 transition ease-in hover:-translate-y-1 hover:scale-110 focus:outline-none" href="#">Lets Talk
				<span class="ml-4">
					<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z" />
					</svg>
				</span>
			</a>
        </div>
		<div class="lg:w-1/2 w-full flex lg:justify-end justify-center">
			<img class="w-3/4 lg:mr-5 mr-0" src="../assets/images/amico.png" alt="">
		</div>
      </div>
    </div>
  </section>
  <section id="service" class="relative">
	  <div class="absolute lg:block hidden bottom-0 left-0 bg-box/10 w-[200px] h-[250px]"></div>
	  <div class="antialiased relative container mx-auto lg:px-5 lg:py-16 py-12 z-20">
		  <div class="w-[200px] h-[200px] absolute right-0 top-10 z-10 bg-gradient-to-b from-circle/30 rounded-full"></div>
		  <div class="flex lg:flex-row flex-col px-5 lg:gap-12 gap-4">
			  <div class="lg:w-2/3 w-full">
					<h2 class="drop-shadow-xl text-5xl text-secondary font-bold">What We <br> Actually Do?</h2>
					<div class="w-full h-2 bg-gradient-to-l from-line mt-6 rounded-sm shadow-xl"></div>
			  </div>
			  <div class="lg:w-1/3 w-full pt-4">
					<p class="text-basse text-secondary text-justify">We are a full-service development for web and app, that works closely with clients to define and develop solutions to complex issues and give the happiness for both of us</p>
			  </div>
		  </div>
		  <div class="py-10 px-5">
			  <div class="grid lg:grid-cols-3 grid-cols-1 lg:gap-x-4 gap-y-6">
				<div class="flex flex-col items-center">
					<img class="" src="../assets/images/Icon.png" alt="programming">
					<div class="mt-4">
						<p class="text-center text-secondary font-bold text-xl pb-2">Web Development</p>
						<p class="text-center text-secondary text-base">Provide services with Javascript, PHP, Python, React Js., HTML etc</p>
					</div>
				</div>
				<div class="flex flex-col items-center">
					<img class="" src="../assets/images/Smartphone.png" alt="programming">
					<div class="mt-4">
						<p class="text-center text-secondary font-bold text-xl pb-2">Mobile Apps Development</p>
						<p class="text-center text-secondary text-base">Provide innovative solution with Kotlin, Android Native, React Native.</p>
					</div>
				</div>
				<div class="flex flex-col items-center">
					<img class="" src="../assets/images/Support.png" alt="programming">
					<div class="mt-4">
						<p class="text-center text-secondary font-bold text-xl pb-2">UI/UX Design</p>
						<p class="text-center text-secondary text-base">Provide services elegant design based on user experience.</p>
					</div>
				</div>
			</div>
			<div class="flex flex-col lg:flex-row lg:gap-x-4 gap-y-6 justify-center mt-10">
				<div class="lg:w-1/3 w-full">
					<div class="flex flex-col items-center">
						<img class="" src="../assets/images/Sitemap.png" alt="programming">
						<div class="mt-4">
							<p class="text-center text-secondary font-bold text-xl pb-2">Data Analyst | Data Science</p>
							<p class="text-center text-secondary text-base">Provide deep dive analytics, dashboarding, and modelling prediction with Machine Learning | Deep Learning.</p>
						</div>
					</div>
				</div>
				<div class="lg:w-1/3 w-full">
					<div class="flex flex-col items-center">
						<img class="" src="../assets/images/Layer.png" alt="programming">
						<div class="mt-4">
							<p class="text-center text-secondary font-bold text-xl pb-2">Big Data Analytics</p>
							<p class="text-center text-secondary text-base">Provide services such as ETL and analytics dashboard with largest data.</p>
						</div>
					</div>
				</div>
			</div>
		  </div>
	  </div>
  </section>
  <section id="work" class="relative bg-top">
	<div class="absolute lg:block hidden bottom-64 right-0 bg-box/10 w-[250px] h-[280px]"></div>
	  <div class="absolute lg:block hidden left-1 bottom-64">
		  <img src="../assets/images/boxdot.png" alt="">
	  </div>
	  <div class="antialiased relative container mx-auto lg:px-5 lg:py-16 py-12 z-20">
		  <div class="w-[200px] h-[200px] absolute right-0 top-10 z-10 bg-gradient-to-b from-circle/30 rounded-full"></div>
		 
		  <div class="flex lg:flex-row flex-col px-5 lg:gap-12 gap-4">
			  <div class="lg:w-2/3 w-full">
					<h2 class="drop-shadow-xl text-5xl text-secondary font-bold">Featured Projects</h2>
					<div class="w-full h-2 bg-gradient-to-l from-line mt-6 rounded-sm shadow-xl"></div>
			  </div>
		  </div>
		<div class="grid lg:grid-cols-3 grid-cols-1 gap-x-4 gap-y-6 py-10 px-5 z-30">
			<div class="flex flex-col">
				<img src="../assets/images/retribusi.png" alt="">
				<div class="mt-4 flex flex-col lg:items-start items-center">
					<p class="text-secondary pb-2 font-semibold lg:text-base text-xl">Retribution Mobile App</p>
					<p class="text-sm text-grey pb-2">Bali, Indonesia</p>
					<p class="text-sm text-main pb-2">
						<router-link class="flex transform hover:scale-125 hover:outline-primary transition-all w-fit" to="#">
							View Project
							<span class="ml-4">
								<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3" />
								</svg>
							</span>
						</router-link>
					</p>
				</div>
			</div>
			<div class="flex flex-col">
				<img src="../assets/images/wedding.png" alt="">
				<div class="mt-4 flex flex-col lg:items-start items-center">
					<p class="text-secondary pb-2 font-semibold lg:text-base text-xl">Balinese Wedding Web Design</p>
					<p class="text-sm text-grey pb-2">Bali, Indonesia</p>
					<p class="text-sm text-main pb-2">
						<router-link class="flex transform hover:scale-125 hover:outline-primary transition-all w-fit" to="#">
							View Project
							<span class="ml-4">
								<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3" />
								</svg>
							</span>
						</router-link>
					</p>
				</div>
			</div>
			<div class="flex flex-col">
				<img src="../assets/images/bigdata.png" alt="">
				<div class="mt-4 flex flex-col lg:items-start items-center">
					<p class="text-secondary pb-2 font-semibold lg:text-base text-xl">Big Data Analytics Covid-19</p>
					<p class="text-sm text-grey pb-2">Bali, Indonesia</p>
					<p class="text-sm text-main pb-2">
						<router-link class="flex transform hover:scale-125 hover:outline-primary transition-all w-fit" to="#">
							View Project
							<span class="ml-4">
								<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3" />
								</svg>
							</span>
						</router-link>
					</p>
				</div>
			</div>
			<div class="flex flex-col">
				<img src="../assets/images/bigdata.png" alt="">
				<div class="mt-4 flex flex-col lg:items-start items-center">
					<p class="text-secondary pb-2 font-semibold lg:text-base text-xl">Coffee Shop Infomation System</p>
					<p class="text-sm text-grey pb-2">Bali, Indonesia</p>
					<p class="text-sm text-main pb-2">
						<router-link class="flex transform hover:scale-125 hover:outline-primary transition-all w-fit" to="#">
							View Project
							<span class="ml-4">
								<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3" />
								</svg>
							</span>
						</router-link>
					</p>
				</div>
			</div>
			<div class="flex flex-col">
				<img src="../assets/images/bigdata.png" alt="">
				<div class="mt-4 flex flex-col lg:items-start items-center">
					<p class="text-secondary pb-2 font-semibold lg:text-base text-xl">Wedding Management Information System</p>
					<p class="text-sm text-grey pb-2">Bali, Indonesia</p>
					<p class="text-sm text-main pb-2">
						<router-link class="flex transform hover:scale-125 hover:outline-primary transition-all w-fit" to="#">
							View Project
							<span class="ml-4">
								<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3" />
								</svg>
							</span>
						</router-link>
					</p>
				</div>
			</div>
		</div>
	  </div>
  </section>
  <section id="testimonial" class="relative">
	   <div class="absolute lg:block hidden right-20 top-24">
		  <img src="../assets/images/boxdot.png" alt="">
	  </div>
	  <div class="antialiased container mx-auto lg:px-5 lg:py-16 py-12">
		  <div class="flex lg:flex-row flex-col px-5 lg:gap-12 gap-4">
			  <div class="lg:w-2/3 w-full">
					<h2 class="drop-shadow-xl text-5xl text-secondary font-bold">See what client says <br> about us</h2>
					<div class="w-full h-2 bg-gradient-to-l from-line mt-6 rounded-sm shadow-xl"></div>
			  </div>
		  </div>
		  <div class="lg:py-8 py-6 z-20">
			  <swiper
			  	:pagination="true"
				:autoplay="true"
				:slides-per-view="slideShow"
				:space-between="0"
				@swiper="onSwiper"
				@slideChange="onSlideChange"
			>
				<swiper-slide class="py-12 px-4 lg:px-5">
					<div class="bg-white shadow-xl drop-shadow-lg rounded-sm p-4">
						<p class="text-justify text-base text-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique voluptatum animi, omnis consectetur iusto consequuntur nihil exercitationem at, cumque dicta ratione consequatur ipsa assumenda, culpa nostrum! Optio necessitatibus rem sunt!</p>
						<div class="mt-5 flex items-center">
							<img class="rounded-full object-cover h-16 w-16" src="../assets/images/jisso.jpg" alt="">
							<div class="ml-4">
								<p class="pb-1">Patrick Evra</p>
								<p class="text-xs">Founder Project.io</p>
							</div>
						</div>
					</div>
				</swiper-slide>
				<swiper-slide class="py-12 px-4 lg:px-5">
					<div class="bg-white shadow-xl drop-shadow-lg rounded-sm p-4">
						<p class="text-justify text-base text-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique voluptatum animi, omnis consectetur iusto consequuntur nihil exercitationem at, cumque dicta ratione consequatur ipsa assumenda, culpa nostrum! Optio necessitatibus rem sunt!</p>
						<div class="mt-5 flex items-center">
							<img class="rounded-full object-cover h-16 w-16" src="../assets/images/jennie.jpeg" alt="">
							<div class="ml-4">
								<p class="pb-1">Patrick Evra</p>
								<p class="text-xs">Founder Project.io</p>
							</div>
						</div>
					</div>
				</swiper-slide>
				<swiper-slide class="py-12 px-4 lg:px-5">	
					<div class="bg-white shadow-xl drop-shadow-lg rounded-sm p-4">
						<p class="text-justify text-base text-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique voluptatum animi, omnis consectetur iusto consequuntur nihil exercitationem at, cumque dicta ratione consequatur ipsa assumenda, culpa nostrum! Optio necessitatibus rem sunt!</p>
						<div class="mt-5 flex items-center">
							<img class="rounded-full object-cover h-16 w-16" src="../assets/images/nayeon.jpg" alt="">
							<div class="ml-4">
								<p class="pb-1">Patrick Evra</p>
								<p class="text-xs">Founder Project.io</p>
							</div>
						</div>
					</div>
				</swiper-slide>
			</swiper>
		  </div>
	  </div>
  </section>
  <section id="team" class="bg-top relative">
	  <div class="absolute lg:block hidden right-20 top-16">
		  <img src="../assets/images/boxdot.png" alt="">
	  </div>
		<div class="antialiased relative container mx-auto lg:px-5 lg:py-16 py-12">
			 <div class="w-[200px] h-[200px] absolute left-0 top-16 bg-gradient-to-b from-circle/30 rounded-full"></div>
			<div class="flex justify-center">
				<div class="lg:w-1/2 w-full flex flex-col items-center">
					<h2 class="drop-shadow-xl text-5xl text-secondary font-bold">Our Great Team</h2>
					<div class="w-full h-2 bg-gradient-to-l from-line mt-6 rounded-sm shadow-xl"></div>
				</div>
			</div>
			<div class="grid grid-cols-2 lg:grid-cols-4 mt-12">
				<div class="flex flex-col mb-5 lg:mb-0">
					<img class="rounded-full mx-auto mb-2 bg-white" src="../assets/images/bayu.png" alt="">
					<div class="flex flex-col items-center">
						<p class="text-secondary font-semibold pb-2">Krisna Bayu</p>
						<p class="text-xs">Marketer</p>
						<p class="text-xs">Data Analyst at Qoala Company</p>
						<div class="flex space-x-1 mt-2">
							<a href="#"><img class="w-6" src="../assets/images/instagram.png" alt=""></a>
							<a href="#"><img class="w-6" src="../assets/images/linkedin.png" alt=""></a>
						</div>
					</div>
				</div>
				<div class="flex flex-col mb-5 lg:mb-0">
					<img class="rounded-full mx-auto mb-2" src="../assets/images/bayu.png" alt="">
					<div class="flex flex-col items-center">
						<p class="text-secondary font-semibold pb-2">Krisna Bayu</p>
						<p class="text-xs">Marketer</p>
						<p class="text-xs">Data Analyst at Qoala Company</p>
						<div class="flex space-x-1 mt-2">
							<a href="#"><img class="w-6" src="../assets/images/instagram.png" alt=""></a>
							<a href="#"><img class="w-6" src="../assets/images/linkedin.png" alt=""></a>
						</div>
					</div>
				</div>
				<div class="flex flex-col ">
					<img class="rounded-full mx-auto mb-2" src="../assets/images/bayu.png" alt="">
					<div class="flex flex-col items-center">
						<p class="text-secondary font-semibold pb-2">Krisna Bayu</p>
						<p class="text-xs">Marketer</p>
						<p class="text-xs">Data Analyst at Qoala Company</p>
						<div class="flex space-x-1 mt-2">
							<a href="#"><img class="w-6" src="../assets/images/instagram.png" alt=""></a>
							<a href="#"><img class="w-6" src="../assets/images/linkedin.png" alt=""></a>
						</div>
					</div>
				</div>
				<div class="flex flex-col  z-20">
					<img class="rounded-full mx-auto mb-2 bg-white" src="../assets/images/bayu.png" alt="">
					<div class="flex flex-col items-center">
						<p class="text-secondary font-semibold pb-2">Krisna Bayu</p>
						<p class="text-xs">Marketer</p>
						<p class="text-xs">Data Analyst at Qoala Company</p>
						<div class="flex space-x-1 mt-2">
							<a href="#"><img class="w-6" src="../assets/images/instagram.png" alt=""></a>
							<a href="#"><img class="w-6" src="../assets/images/linkedin.png" alt=""></a>
						</div>
					</div>
				</div>
			</div>
		</div>
  </section>
</template>
