<template>
    <div class="relative">
        <div class="antialiased container mx-auto lg:px-5 lg:py-8 py-4">
            <div class="flex flex-col lg:flex-row px-5 lg:gap-12 gap-4"> 
                <div class="lg:w-2/3 w-full">
                    <p class="text-sx pb-5">Mobile App Development</p>
					<h2 class="drop-shadow-xl text-5xl text-secondary font-bold">Retribution Mobile App</h2>
					<div class="w-full h-2 bg-gradient-to-l from-line mt-6 rounded-sm shadow-xl"></div>
                    <div class="mt-5">
                        <p class="text-secondary font-semibold">Overview of Retribution Mobile App</p>
                        <p>Retribution on mobile app describe services provided to Balinese village located at Padang
                            Sambian, Denpasar, Bali. Purpose to solve the problem about payment retribution per 
                            each store located at Padang Sambian village, and make easy Padang Sambian 
                            government to manage payment retribution per each store located at Padang 
                            Sambian village.
                        </p>
                    </div>
			  </div>
			  <div class="lg:w-1/3 w-full">
                <div class="pb-6">
                    <p class="text-secondary font-semibold">Client Origin : </p>
                    <p>Bali, Indonesia</p>
                </div>
                <div class="pb-6">
                    <p class="text-secondary font-semibold">Year</p>
                    <p>2021</p>
                </div>
                <div class="pb-6">
                    <p class="text-secondary font-semibold">Technology Used:</p>
                    <p>Kotlin, Laravel API</p>
                </div>
                <div class="pb-6">
                    <a class="flex text-main transform hover:outline-primary transition-all w-fit" href="#">See Apps on Play Store
                        <span class="ml-4">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3" />
                            </svg>
                        </span>
                    </a>
                </div>
			  </div>
            </div>
        </div>
        <div class="antialiased container mx-auto lg:px-10 lg:py-8 py-4 space-y-8">
            <div class="flex justify-center py-5 gap-4 lg:gap-6 bg-appwrapper w-100">
                <img class="w-1/3" src="../assets/images/login-retri.png" alt="">
                <img class="w-1/3" src="../assets/images/login-retri.png" alt="">
            </div>
            <div class="flex justify-center py-5 gap-4 lg:gap-6 bg-appwrapper">
                <img class="w-1/3" src="../assets/images/login-retri.png" alt="">
                <img class="w-1/3" src="../assets/images/login-retri.png" alt="">
            </div>
            <div class="flex justify-center py-5 gap-4 lg:gap-6 bg-appwrapper">
                <img class="w-1/3" src="../assets/images/login-retri.png" alt="">
                <img class="w-1/3" src="../assets/images/login-retri.png" alt="">
            </div>
        </div>
    </div>
</template>