<template>
    <footer class="bg-main relative">
	  <div class="w-[200px] h-[200px] absolute -left-16 top-0 lg:left-24 lg:top-10 z-10 bg-gradient-to-b from-circle/30 rounded-full"></div>
	  <div class="absolute lg:block hidden bottom-0 right-0 bg-boxfooter w-[300px] h-[195px]"></div>
	  <div class="antialiased container mx-auto lg:px-5 lg:pt-16 pt-10 pb-5 ">
		  <div class="flex justify-center">
				<div class="lg:w-1/2 w-full flex flex-col items-center">
					<h2 class="drop-shadow-xl text-5xl text-white font-bold">Contact Us</h2>
					<div class="w-full h-2 bg-gradient-to-l from-line mt-10 rounded-sm shadow-xl"></div>
					<div class="mt-10 flex flex-col items-center">
						<p class="text-white pb-2">Click one of our contacts to say hello</p>
						<p class="text-white pb-2"><a class="flex items-center" href="mailto:finitreegroup@gmail.com">
							<span class="mr-3">
								<img class="w-6" src="../assets/images/email.png" alt="">
							</span>
							finitreegroup@gmail.com
							</a>
						</p>
						<p class="text-white pb-2"><a class="flex items-center" href="tel:087861787361">
							<span class="mr-3">
								<img class="w-6" src="../assets/images/whatsapp.png" alt="">
							</span>
							087861787361
							</a>
						</p>
						<p class="text-white pb-2"><a class="flex items-center" href="#">
							<span class="mr-3">
								<img class="w-6" src="../assets/images/instagram2.png" alt="">
							</span>
							Finitree Project
							</a>
						</p>
					</div>
				</div>
			</div>
	  </div>
  </footer>
</template>