<script setup>
    import {onMounted, ref, watchEffect} from 'vue'

        let open = ref(true);

        function show(){
            open.value = !open.value;
            console.log(open.value);
        }

        function screen(){
            if(window.innerWidth < 640){
                open.value = false;
                console.log("mobile");
            }
            else{
                open.value = true;
                console.log("desktop");
            }
        }
        onMounted(() => {
            screen();
        });
        watchEffect(() =>{
            window.addEventListener('resize', screen);
        });

        
</script>
<template>
    <div class="sticky top-0 z-50 bg-top">
        <div class="flex flex-col lg:flex-row mx-auto container lg:px-5">
            <div class="flex justify-between items-center px-5 py-4 lg:py-0  lg:border-b-0 " :class="open ? 'border-b border-white' : 'border-b-0' ">
                <router-link class="uppercase text-lg" to="#">
                    <img class="w-[109px]" src="../assets/images/logo.png" alt="finitree">
                </router-link>
                <div>
                    <button class="focus:outline-none text-black lg:hidden block" @click="show">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path :class="open ? 'hidden' : 'block' " stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                            <path :class="open ? 'block' : 'hidden' "  stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </button>
                </div>
            </div>
            <div class="flex lg:justify-end w-full">
                <transition
                    enter-active-class="animate__animated animate__fadeInDown animate__faster"
                    leave-active-class="animate__animated animate__fadeOutUp animate__faster"
                >
                    <nav class="lg:py-0 relative w-full lg:w-fit" v-if="open">
                        <ul class="absolute w-full lg:w-fit lg:relative top-0 flex flex-col lg:flex-row text-main font-semibold text-base lg:bg-transparent bg-top">
                            <li class="px-4 lg:py-5 py-2 "><router-link class="hover:opacity-75 focus:border-b-2 focus:border-main transition-all" to="#">Home</router-link></li>
                            <li class="px-4 lg:py-5 py-2 "><router-link class="hover:opacity-75 focus:border-b-2 focus:border-main transition-all" to="#">Service</router-link></li>
                            <li class="px-4 lg:py-5 py-2 "><router-link class="hover:opacity-75 focus:border-b-2 focus:border-main transition-all" to="#">Work</router-link></li>
                            <li class="px-4 lg:py-5 py-2 "><router-link class="hover:opacity-75 focus:border-b-2 focus:border-main transition-all" to="#">About</router-link></li>
                            <li class="px-4 lg:py-5 py-2 "><router-link class="hover:opacity-75 focus:border-b-2 focus:border-main transition-all" to="#">Service</router-link></li>
                            <li class="px-4 lg:py-5 py-2 "><router-link class="hover:opacity-75 focus:border-b-2 focus:border-main transition-all" to="#">Testimonial</router-link></li>
                            <li class="pl-4 pr-5 lg:py-5 py-2 "><router-link class="hover:opacity-75 focus:border-b-2 focus:border-main transition-all" to="#">Contact</router-link></li>
                        </ul>
                    </nav>
                </transition>
            </div>
        </div>
    </div>
</template>

<style>

</style>