<script setup>
import { ref, computed } from 'vue'
import Navbar from './components/Navbar.vue';
import Footer from './components/Footer.vue';

//import Dropdown from './components/Dropdown.vue';
</script>

<template>
  <div>
    <Navbar/>
    <main>
      <router-view />
    </main>
    <Footer/>
  </div>
</template>
